<!DOCTYPE html>
<html>
<head>
	<title>Great!</title>
</head>
<body>
<h2>Hurray!</h2>
<h5>You have registered your penguin! To go back to home, click <a href="http://localhost/">here</h5>

</body>
</html>