<div class="page-header">
<h3><center>Your feedback is sent to the owner!</center></h3>
</div>
<center><img src="http://i3.kym-cdn.com/photos/images/newsfeed/000/581/915/e42.jpg" alt="what image shows" height="500" width="800"></center>